---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}

    {{ content }}

    <ul class="blog-posts">
        {% for post in site.posts %}
        <li>
            <span>
                <i>
                    <time datetime="{{ post.date | date: '%Y-%m-%d' }}" pubdate="">
                        {{ post.date | date: "%b %-d, %Y" }}
                    </time>
                </i>
            </span>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            {% if post.build_log %}
            &nbsp;(<a href="{{ post.build_log }}">build log</a>)
            {% endif %}
        </li>
        {% endfor %}

    </ul>

</main>

{% include footer.html %}

</body>

</html>
